<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>controlador</servlet-name>
        <servlet-class>controlador.controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>controlador.controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Guardar</servlet-name>
        <servlet-class>controlador.Guardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlAdminUsuario</servlet-name>
        <servlet-class>controlador.controlAdminUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlCosmetolo</servlet-name>
        <servlet-class>controlador.controlCosmetolo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contolUsuario</servlet-name>
        <servlet-class>controlador.contolUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unu</servlet-name>
        <servlet-class>controlador.unu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador</servlet-name>
        <url-pattern>/controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Guardar</servlet-name>
        <url-pattern>/GuardarRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlAdminUsuario</servlet-name>
        <url-pattern>/controlAdminUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlCosmetolo</servlet-name>
        <url-pattern>/controlCosmetolo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contolUsuario</servlet-name>
        <url-pattern>/contolUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unu</servlet-name>
        <url-pattern>/unu</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
